<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Course <%= @the_course.id %> details
    </h1>
    
    <div class="row mb-3">
      <div class="col">
        <a href="/courses">
          Go back
        </a>
      </div>
    </div>
   
    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_course.title %>
      </dd>

      <dt>
        Term offered
      </dt>
      <dd>
        <%= @the_course.term_offered %>
      </dd>

      <dt>
        Department</a>
      </dt>
      <dd>
        <% department=Department.where({ :id => @the_course.department }).at(0) %>
        <a href = "/departments/<%=department.id%>"><%=department.name%></a>
      </dd>

      <dt>
        Number of enrolled students
      </dt>
      <dd>
        <%#= Enrollment.where({ :course_id => @the_course.id }).count%>
        <%= @the_course.enrollments.count %>
      </dd>
    </dl>
  </div>
</div>

<hr>
<h2>Roster</h2>
<ul>
  <% @the_course.enrollments.each do |enrollment| %>
    <li>
      <a href="/students/<%= enrollment.student_id %>">
        <%= enrollment.student.first_name %>
        <%= enrollment.student.last_name %>
      </a>
    </li>
  <% end %>
</ul>
